* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, Times, serif;
    
  }
    
  body {
    color: #ffffff;
    background: url('https://i.pinimg.com/564x/e7/e7/da/e7e7da4d685d704b4bfa067cbc9bce15.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  /* .main {
  min-height: 100vh;
  background: url('https://i.pinimg.com/564x/e7/e7/da/e7e7da4d685d704b4bfa067cbc9bce15.jpg') no-repeat;
  background-size: cover;
} */
  
.main.active {
  filter: blur(15px);
  pointer-events: none; 
}
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    filter: drop-shadow(0px 0px 5px #ff0000);
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  .usericon {
    filter: drop-shadow(0px 0px 2px #ffffff);
    position: absolute;
    top: 0; 
    right: 10px; 
    margin-top: 5px;
  }
  
  .usericon img {
    border-radius: 50%;
  }
  
  .navbar a {
    text-decoration: underline;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 150px;
    transition: .3s;
  }
  
  .navbar a:hover, 
  .navbar a.active {
    color: rgb(255, 0, 0);
  }


  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #000000a2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  h2 {
    position: absolute; 
    top: 0; 
    left: 50%; 
    margin-top: 10px;
    transform: translateX(-50%); 
    font-size: 35px;  
    font-family: sans-serif;
    color: rgb(255, 255, 255); 
    text-shadow: 0px 1px 2px rgba(255, 0, 0, 0.5);
  }
  
button {
    width: 50%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    margin-left: 70px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(127, 3, 3);
  }

  input {
    width: 80%;
    margin-left: 30px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
  } 

  
  .back-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 5%;
}
  
  .back-button:hover {
    color: rgb(255, 0, 0);
    background-color: #000000;
  }

  