* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, Times, serif;
    
  }
    
  body {
    color: #ffffff;
    background: url('https://i.pinimg.com/564x/e7/e7/da/e7e7da4d685d704b4bfa067cbc9bce15.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .main.active {
    filter: blur(15px);
    pointer-events: none; 
  }
    
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px 10%;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .logo {
      filter: drop-shadow(0px 0px 5px #ff0000);
      margin-top: 10px;
      margin-left: 20px;
    }
    
    .logo img {
      border-radius: 50%;
    }
    
    .usericon {
      filter: drop-shadow(0px 0px 2px #ffffff);
      position: absolute;
      top: 0; 
      right: 10px; 
      margin-top: 5px;
    }
    
    .usericon img {
      border-radius: 50%;
    }

    .navbar a {
        text-decoration: underline;
        font-size: 18px;
        color: #ffffff;
        font-weight: 500;
        margin-left: 150px;
        transition: .3s;
      }
      
      .navbar a:hover, 
      .navbar a.active {
        color: rgb(255, 0, 0);
      }


      .back-button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 5px;
        margin-left: 5%;
    }
      
      .back-button:hover {
        color: rgb(255, 0, 0);
        background-color: #000000;
      }

      h2 {
        font-size: 40px;
        font-weight: 600;
        font-family: sans-serif;
        font-style: italic;
        padding-left: 30%;
        text-shadow: 0 0 7px rgb(255, 0, 0);
      }

      h1 {
        font-size: 40px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 10%;
        padding: 3px;
        background: linear-gradient(90deg, transparent,#ff00005d, transparent);
      }

  .SciBox {
    display: inline-block;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #0000009c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    left: 20%;
    top: 40%;
  }


.science {
    display: inline-block;
    align-items: center;
    position: absolute;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(255, 0, 0);
    background-color: #0000009c;
    text-decoration: none;
    font-weight: 900;
    font-size: 40px;
    left: 10%;
    top: 40%;
}

.science:hover {
  color: rgb(249, 0, 0);
  text-shadow: 0 0 7px  #ffffff;
}

.CompBox {
    display: inline-block;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #0000009c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    left: 60%;
    top: 40%;
  }

.computer {
    display: inline-block;
    align-items: center;
    position: absolute;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(255, 0, 0);
    background-color: rgba(0, 6, 11, 0.475);
    text-decoration: none;
    font-weight: 900;
    font-size: 35px;
    left: 5%;
    top: 40%;
   
  }
  .computer:hover{
    color: rgb(249, 0, 0);
    text-shadow: 0 0 7px  #ffffff;
  }

  h1 {
    position: absolute; 
    top: 0.5%;
    left: 30%; 
    margin-top: 25px;
    font-size: 40px;  
    font-family: sans-serif;
    color: rgb(255, 255, 255); 
    text-shadow: 0px 1px 2px rgba(255, 0, 0, 0.5);
  }


  .section {
    position: relative;
    left: -50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section.active {
    left: 0;
  }


  .section .quizbox {
    position: relative;
    width: 500px;
    height: fit-content;
    background: transparent;
    border: 3px solid rgb(78, 1, 1);
    border-radius: 15px;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 15px;
    background-image: url(https://i.pinimg.com/564x/92/55/77/9255774d9b41f2c128a703f6c8493b3f.jpg);
    background-position: center;
  }
  
  .section .quizbox.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
  }

  
  .quizheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #db0000;
  }
  
  .quizheader span {
    font-size: 18px;
    background: linear-gradient(45deg, transparent, #7f0606, transparent);
    font-weight: 500;
    border-radius: 4px;
    padding: 7px;
  }
  
  .quizheader .score {
    background: linear-gradient(45deg, transparent,#7f0606, transparent);
    border-radius: 4px;
    padding: 7px;
  }
  
  .quizbox .question {
    font-size: 30px;
    font-weight: 600;
    font-family: 'Gill Sans MT', Calibri;
  }


  .quizbox .options  {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1.5px solid #ff010156;
  border-radius: 6px;
  font-size: 17px;
  margin: 9px 2px;
  cursor: pointer;
  transition: .25s;
}



.quizbox .options:hover {
    background:  #ff000031;
    border-color: #7b7676;
}

.quizbox .quizfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:2px solid #ff0000;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  .quizbox .totalQuestions {
    font-size: 16px;
    font-weight: 600;
  }
  
  .quizbox .nextbutton {
    width: 100px;
    height: 45px;
    color: #fcfcfc;
    background: linear-gradient(45deg, transparent,#ff00003a, transparent);
    border: 2px solid #d80303ab;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
  }
  
  .quizbox .nextbutton:hover {
    background: linear-gradient(145deg, transparent,#ff0000, transparent);
    border-color: #ffffff;
  }


  

footer {
  display: flex;
  border: 2px solid #a11818;
  border-radius: 6px;
  box-shadow: 3px 3px 12px #ff0000;
  margin-top: 28.7%;
  background: rgba(0, 0, 0, 0.612);
}

.QuizFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copy  {
  flex: 1;
  color: #ccc;
  text-align: left;
  font-size: small;
  right: 10%;
  padding: 13px 20px 25px;
}

#copy p {
display: flex;
margin-top: 1%;
right: 10%;
}



#points {
  color: #ccc;
  text-align: left;
  padding: 10px 20px;
}

#points li {
  margin: 2%;
}

footer img {
  width: 50px;
  height: 50px;
  font-size: x-small;
  border-radius: 5px;
  border-radius: 800px;
  border: 2px solid #ff0000;
  box-shadow: 1px 1px px rgb(255, 255, 255);

}