* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Georgia, Times, serif;
}



body {
  color: #ffffff;
  background: #000000;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  filter: drop-shadow(0px 0px 5px #ff0000);
  margin-top: 10px;
  margin-left: 20px;
}

.logo img {
  border-radius: 50%;
}


.usericon {
  filter: drop-shadow(0px 0px 2px #ffffff);
  position: absolute;
  top: 0; 
  right: 10px; 
  margin-top: 5px;
}

.usericon img {
  border-radius: 50%;
}

.navbar a {
  text-decoration: underline;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 150px;
  transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
  color: rgb(255, 0, 0);
}

.main {
  min-height: 100vh;
  background: url('https://i.pinimg.com/564x/e7/e7/da/e7e7da4d685d704b4bfa067cbc9bce15.jpg') no-repeat;
  background-size: cover;
  pointer-events: auto;
  transition: .3s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none; 
}

.container {
  display: flex;
  height: 100vh;
  width:200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Para {
  height: 100vh;
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Para h1 {
  color: #ff0000;
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Para p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.Para .Start {
  width: 190px;
  height: 55px;
  background: #ff0000;
  border: 2.5px solid #ffffff;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 9px #ff0000;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: .7s;
}

.Para .Start:hover {
  background: black;
  box-shadow: 0 0 9px #ffffff;
}


.category {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
 