* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: Georgia, Times, serif;
}



body {
  color: #ffffff;
  background: #000000;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  filter: drop-shadow(0px 0px 5px #ff0000);
  margin-top: 10px;
  margin-left: 20px;
}

.logo img {
  border-radius: 50%;
}


.usericon {
  filter: drop-shadow(0px 0px 2px #ffffff);
  position: absolute;
  top: 0; 
  right: 10px; 
  margin-top: 5px;
}

.usericon img {
  border-radius: 50%;
}

.navbar a {
  text-decoration: underline;
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 150px;
  transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
  color: rgb(255, 0, 0);
}

.main {
  min-height: 100vh;
  background: url('https://i.pinimg.com/564x/e7/e7/da/e7e7da4d685d704b4bfa067cbc9bce15.jpg') no-repeat;
  background-size: cover;
  pointer-events: auto;
  transition: .3s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none; 
}

.container {
  display: flex;
  height: 100vh;
  width:200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Para {
  height: 100vh;
  display: flex;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Para h1 {
  color: #ff0000;
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Para p {
  font-size: 16px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.Para .Start {
  width: 190px;
  height: 55px;
  background: #ff0000;
  border: 2.5px solid #ffffff;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 9px #ff0000;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: .7s;
}

.Para .Start:hover {
  background: black;
  box-shadow: 0 0 9px #ffffff;
}


.category {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
 


h1 {
  font-size: 45px;
  text-decoration-line: underline;
  text-decoration-color: #ffffffeb;
  text-align: center;
  background: linear-gradient(45deg, transparent,#ff0000ba, transparent);
  margin-left: 1%;
  font-style: oblique;
  padding-bottom: 5px;
  margin-top: 2%;
}



footer {
  display: flex;
  border: 2px solid #a11818;
  border-radius: 6px;
  box-shadow: 3px 3px 12px #ff0000;
  margin-top: 3.3%;
  background: rgba(0, 0, 0, 0.612);
}

.QuizFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copy  {
  flex: 1;
  color: #ccc;
  text-align: left;
  font-size: small;
  right: 10%;
  padding: 13px 20px 25px;
}

#copy p {
display: flex;
margin-top: 1%;
right: 10%;
}



#points {
  color: #ccc;
  text-align: left;
  padding: 10px 20px;
}

#points li {
  margin: 2%;
}

footer img {
  width: 50px;
  height: 50px;
  font-size: x-small;
  border-radius: 5px;
  border-radius: 800px;
  border: 2px solid #ff0000;
  box-shadow: 1px 1px px rgb(255, 255, 255);

}
.Home {
  display: flex;
  justify-content: center; /* Horizontally center the flex items */
}

.Home a {
  color: rgb(255, 0, 0);
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: 20px;
  text-align: center;
  width: 200px; 
  height: 200px; 
  margin: 50px;
  background-image: url(https://i.pinimg.com/564x/4c/96/32/4c96323476c3e18436bb56bab7cc792e.jpg);
  background-size: cover;
  border: 1px solid #ff0000;
  border-radius: 10px;
}


.Home a:hover{
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 7px rgb(255, 89, 0));
  text-shadow: 0 0 30px  #ff752a;
}